{% load staticfiles %}
{% verbatim %}
<div id="wrap">
    <div class="container" style="position: fixed; width: 25%; z-index: 1000; bottom: 100px; left: 20px; margin-bottom: 10px">
        <div class="alert alert-success alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <b>2021 Spring Courses Updated!</b> We have added the 2021 Spring courses to ReCal. Thank you for your patience.
         </div>
    </div>
    <div class="container" style="position: fixed; width: 25%; z-index: 1000; bottom: 0; left: 20px; margin-bottom: 10px">
        <div class="alert alert-success alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <b>Recal Feedback!</b> We are looking for feedback on our course selection apps! <a href="https://docs.google.com/forms/d/e/1FAIpQLSdR5Hsr692Q5_uVZ41RjYYL02-0p8-kbEfpsdgu2E4AM4zvww/viewform">Feedback Form</a> 
         </div>
    </div>
    <div ng-controller="SemCtrl as semCtrl" id="semesterContainer">
        <tabset>
        <tab ng-repeat = "semester in semesters"
                active = semester.active
                class  = "semester-tab-heading"
        >
        <div class="row clearfix" id="main">
        {% endverbatim %}
        {% include 'main/schedule-tabs.html' %}
        {% verbatim %}
        </div>
        <tab-heading ng-bind="semester.name">
        </tab-heading>
        </tab>
        <button class="btn button-add-tab"
                ng-click="semCtrl.addSemester()"
                tooltip="Add a new semester"
                tooltip-placement="right"
                tooltip-popup-delay="500"
                ng-show = "canAdd"
                ng-cloak
                >
                <i class="fa fa-plus"></i>
        </button>
        </tabset>
    </div>
</div>
{% endverbatim %}
